.cont11 img{
    margin-top: 2vh;
    height: 40vh;
    width: 33vw;
}
.cont2p1 h1{
    color: white;
    font-size: 3.125rem;
}
.cont2p2 h3{
    color: white;
    font-size: 1.625rem;
}
.cont2p2{
    margin-top: 2vh;
}
.cont22{
    
    margin-top: 14vh;
    width: 33vw;
}
